
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.title{

    width: 345px;
    height: 28px;
    margin:0 auto;
    margin-top:30px;
    font-size: 22px;
    line-height: 28px;
    margin-bottom:15px;
    font-size:PingFang SC ;
    color:#1a1a33;
    font-weight: 800;
}
.colleges{
    padding:30px;
    margin-top:30px;
    background-color: #fff;
}
.futi{
    font-size: 16px;
    font-family:PingFang SC ;
    font-weight: normal;
    line-height: 20px;
    color:#999999;
}
.futi span{
    height: 24px;
    background-color: #ff8316;
    color:#fff;
    display:inline-block;
    padding:2px 4px;
    -webkit-transform: skew(-20deg);
    margin-right:10px;
    
}
.gysdfgdsf8r{
    padding:0;
    margin-bottom:0px;
  min-height: 24px;
}
.txtbody{
    padding:30px 0;
}
.imgheight{
    display:block;
    margin-top:24px;
}
h4{
    line-height: 24px;
}
.txtbody{
    padding:30px 0;
}
.list .txt i{
    width: 5px;
    display:inline-block;
    height: 24px;
    margin-right:10px;
   background-color: blue;
   border-radius:4px;
   align-items:center;
}
.list .txt{
    display:flex;
    font-size: 20px;
    font-weight: 800;
    font-family:PingFang SC ;
    color:#1a1a33;
    line-height: 33px;
    align-items:center;
}
.d-s-block{
   margin-top:10px;
    margin-bottom:10px;
   width: 100%;
   height: 142px;
   /* display:none; */
    display:block ! important;
    /* width: 100%;
   height: auto;
    
    overflow-x:scroll;
    white-space:nowrap; */
}
.h5{
   width: 100%;
   height: auto;
    overflow-x:scroll;
    white-space:nowrap;
}
.h5 a{
    display:inline-block;
}
.slide{
    width: 100%;
    margin-right:10px;

}
.slide img{
    width: 240px;

}
