.swiper-slide img{
    width: 100%;
    height: 193px;
    margin-top:78px;
}
.swiper-pagination-bullet{
    display:inline-block !important;
    width: 10px !important ;
    height: 6px !important;
    border-radius:5px !important;
    background-color: #fefefe !important;
}
.swiper-pagination-bullet-active{
    background-color: #ff8316 !important;
    margin-left:230px !important;
}